.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
   gap: 8rem;
    border-radius: 15px;
  }

  .info-section, .about-section {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-evenly;
   
  }