<div class="container">
 
    <div class="about-section">
      <h3>About</h3>
      <p>{{ obj.description }}</p>
      
    </div>
    <div class="info-section">
      <h3>Basic Information</h3>
      <ul class="list-unstyled">
        <li><strong>Age:</strong> {{ obj.age }}</li>
        <li><strong>Email:</strong> {{ obj.email }}</li>
        <li><strong>Phone:</strong> {{ obj.phone }}</li>
        <li><strong>Address:</strong> {{ obj.address }}</li>
        <li><strong>Languages:</strong> {{ obj.languages }}</li>
      </ul>
    </div>
  </div>
