<h2 class="work-experiance">Work Experience</h2>
<div class="work-experience-container">
  <div class="work-experience-item" *ngFor="let experience of workExperience">
    <div class="row">
        <div class="col-md-4 bg-success text-white text-center ">
            <div class="row"><p></p></div>
            <div class="row"><p></p></div>
            <div class="row"><p></p></div>
            <div class="row"><p></p></div>
           
            <div class="row">
                <p class="fs-3">{{ experience.startDate }} - {{ experience.endDate }}</p>
            </div>
            <div class="row">
                <p class="fs-1">{{ experience.company }}</p>
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="work-experience-title">{{ experience.title }}</h3>
            <div class="work-experience-details">
             
            </div>
            <p class="work-experience-description">{{ experience.description }}</p>
        </div>
    </div>
   
   
  </div>
</div>